@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: blue;
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}
.title {
    width: 800px;
    margin: 10px auto;
    color: #fff;
    display: flex;
    justify-content: center;
}
.title img {
    width: 50px;
    margin: auto;
}
.cards {
    display: flex;
    justify-content: space-evenly;

}
.card-imgs{
    display: flex;
    flex-direction: column;

}
.card {
    max-width: 600px;
    width: 23%;
    min-width: 400px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #fff;
}
.card:first-child {
    background-color: blue;
}
.subtitle {
    border-top: 3px solid slateblue;
    border-bottom: 3px solid slateblue; ;
    padding: 7px;
    font-size: 20px;
}
.table {
    border-collapse: collapse;
    margin: 10px auto;
}
th  {
    color: blueviolet;
    
}
.th, td {
    border: 2px solid black;
    padding: 7px 15px;

}
td:first-child {
    text-align: center;
    font-weight: 600;
    color: #F40378;
}
.titulos {
    border: 3px solid slateblue;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulos h1, h2, h3, h4, h5, h6 {
    margin: 5px;
}
.header {
    border: 3px solid orangered;
    width: 100%;
    height: 40px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.main {
    border: 2px solid skyblue;
    background-color: skyblue;
    color: #fff;
    width: 100%;
    height: 100px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.footer {
    border: 2px solid yellow;
    width: 100%;
    height: 60px;
    margin: 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-weight: 600;
}
.listas {
    border: 3px solid slateblue;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lista_desordenada, .lista_ordenada {
    margin: 0;
}
.plantillita {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario {
    border: 3px solid slateblue;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
   
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.form-group label {
    width: 100px;

}
.form-group input {
    width: 200px;
    border: 3px solid slateblue;
    border-radius: 8px;
    padding: 5px;
}
.form-group button {
    padding: 7px 18px;
    border: none;
    background-color: blue;
    border-radius: 14px;
    color: #fff;
    font-size: 16px;
   font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}
.form-group textarea {
    width: 200px;
    border: 3px solid slateblue;
    border-radius: 8px;
    padding: 5px;
}
.formulario h5 {
    font-size: 19px;
}